<p><%- download('연결고리2학기모집지원서.hwp') %></p>
<br>
<p><span style="color:green;">무더운 날씨에 새학기를 맞이하는 여러분의 하반기도 <b>건강하시기</b>를 바랍니다~</span></p>
<br>
<p><span style="color:green;">그리고 가을학기 <b>연결고리</b>에 여러분의 참여를 기다겠습니다</span><%- emoji('1.gif') %></p>
<br>
<%- img('1.jpg') %>
<br>