<ul style="padding-left:25px;"><li><b><span style="font-size:18px;"><span>(학기 중) 월~<span style="color:red;">토</span>요일 08:30~17:30, <span style="color:red;">화요일 Off</span></span></span></b></li>
<li><b><span style="font-size:18px;"><span>(방학 중) 월~금요일 08:30~17:30</span></span></b></li>
</ul><br>
<ul style="margin-left:25px;">
<li style="padding-left:10px;background:transparent none repeat scroll 0% 0%;"><span style="font-size:18px;"><b><span style="font-family:verdana, geneva, sans-serif;"><u>센터 내방 예약</u></span>: 좌측 '상담/심리검사 신청' 을 누르시고 <br>
</b></span><b style="font-size:18px;line-height:27px;">개인 연락처와 원하는 </b><span style="font-size:18px;"><b>상담일자 및 시간, 내용 등을 작성하여주시면                     </b></span><b style="font-size:18px;line-height:27px;">상담자가 </b><span style="font-size:18px;"><b>개별 연락드리겠습니다. (원주캠퍼스 상담코칭센터와 공동으로 이용)</b></span><br><span style="font-size:16px;">                             </span></li>
<li style="padding-left:10px;background:transparent none repeat scroll 0% 0%;"><span style="font-size:18px;"><b><span style="font-family:verdana, geneva, sans-serif;"><u>온라인 상담요청</u>: ①좌측 '상담실 게시판'은 작성자 본인과 상담자만 열람할 수 있는, </span></b></span>
<p style="padding-left:10px;background-image:none;background-attachment:scroll;background-position:0% 0%;background-repeat:repeat;">    <span style="font-size:18px;"><b><span style="font-family:verdana, geneva, sans-serif;"><b>여러분의 사적인 문의 게시판입니다.</b></span></b></span></p>
<div> </div>
</li>
</ul>
<p style="padding-left:10px;background:transparent none repeat scroll 0% 0%;"><span style="font-size:18px;"><b><span style="font-family:verdana, geneva, sans-serif;">         </span></b></span>                                   <b><font size="4">②</font><font size="4">좌측 '상담/심리검사 신청' 시에도 신청자 본인과 상담자만 열람할 수</font></b></p>
<p><b><font size="4">                                     있으며, 다양한 문의 및 상담/검사 신청이 가능합니다.</font></b></p>
<br>
<br>
<h3 "><span style="font-size:18px;">&lt;&lt;센터 위치&gt;&gt;</span></h3>
<ul style="padding-left:25px;"><li><b><span style="font-size:16px;">의학관 308호</span></b>
</li>
<li><b><span style="font-size:16px;">T.033-741-0246</span></b></li>
<li><b><span style="font-size:16px;">블로그: blog.daum.net/wmcc_counsel</span></b></li>
<li><b><span style="font-size:16px;">상담실 이메일: <a href="mailto:wmcc@yonsei.ac.kr" style="text-decoration:none;color:rgb(51,51,51);">wmcc@yonsei.ac.kr</a></span></b></li>
</ul>