<dialog class="edit">
    <button class="close fa fa-times"></button>
    <h2>상담시간 수정</h2>
    <p>신청시간 : <span class=time></span></p>
    <%- include(d.calendar) %>
    <div>
        <button class="save">수정</button>
        <button class="del">삭제</button>
    </div>
</dialog>
<link rel="stylesheet" href="/__source/__css/admin/dialog.css">
<script type="module" src="/__source/__js/__dialog.js"></script>