<p>2016학년도 "Gender 의식 키우기" 특강,</p>
<br>
<p><span style="color:green; font-size:16px;">'성 인지적 관점과 성평등 의식'</span>에 대한 참여자들의 평가서 내용입니다.</p>
<br>
<p><%- download('2016학년도 Gender 의식키우기 특강평가서.pdf') %></p>
<br>
<br>
<%- pdf('2016학년도 Gender 의식키우기 특강평가서.pdf') %>