<div style="font-size:18px;">
<p>안녕하세요?</p>
<br>
<p>계절의 여왕이라 불리는 5월이 되었습니다.</p>
<br>
<p>저희 원주의과대학에서는 매년 5월에 여러분의 건강하고 의미 있는 대학생활을 위한 자기이해를 돕고자</p>
<p>재학 3년차인 학생들을 대상으로 전체 무료검사를 실시 및 해석해드리고 있습니다.</p>
<br>
<p>◆ 검사실시 방법: 각 총대가 수업 후 심리검사 진행이 있다는 안내를 드릴 것입니다.</p>
<br>
<p>◆ 해석 예약방법: 3개 과의 코딩작업이 끝나는 약 6월 초부터 개인별 검사해석이 가능합니다.</p>
<p>                           총대를 통하여 해석시작일을 공지드리면,</p>
<p>                           ① 원하시는 개인이 상담실로 연락(방문)하여 해석일자를 예약합니다.</p>
<p>                                (예약일에 개인 사정이 있으신 경우 다시 미리 조절하여주세요)</p>
<p>                           ② 개인별 해석시간은 약30~50분 전후로 생각하시면 됩니다.</p>
<br>
<p>◆ 문의: 상담코칭센터 <b>☎ 741-0246</b></p>
<p> 메일 <b>wmcc@yonsei.ac.kr</b></span></span></p>
<p> 근무시간 <b>08:30 ~ 17:30</b></span></span></p>
<p>근무요일 <b>월, 수, 목, 금, <span style="color:red;">토</span> (학기중)</b></p>
<p> 근무요일 <b>월, <span style="color:red;">화</span>, 수, 목, 금 (방학중)</b></p>
</div>