<%- img('1.jpeg') %>
<br>
<p style="text-align:center;"><b style="font-size:18px;">* 신청 : 의학관 308호 상담코칭센터</b></p>
<p><span style="font-size:18px;"><b>                          전화 : 741-0246</b></span></p>
<p><span style="font-size:18px;"><b>                          메일 : wmcc@yonsei.ac.kr</b></span></p>