.pln {
    color: #000 !important;
}

@media screen {
    .str {
        color: #080 !important;
    }
    .kwd {
        color: #008 !important;
    }
    .com {
        color: #800 !important;
    }
    .typ {
        color: #606 !important;
    }
    .lit {
        color: #066 !important;
    }
    .clo,
    .opn,
    .pun {
        color: #660 !important;
    }
    .tag {
        color: #008 !important;
    }
    .atn {
        color: #606 !important;
    }
    .atv {
        color: #080 !important;
    }
    .dec,
    .var {
        color: #606 !important;
    }
    .fun {
        color: red !important;
    }
}

pre.prettyprint {
    padding: 2px !important;
    ;
    border: 1px solid #888 !important;
}

ol.linenums {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none !important;
}

li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
    background: #eee !important;
}