h4 {
    text-align: left;
}

.btn {
    background-color: var(--blue);
    color: #fff !important;
}

.del {
    cursor: pointer;
}

.m-22>label {
    float: right;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid var(--main-border);
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1em;
}

td button {
    padding: 5px 10px;
    border: 1px solid var(--main-border);
    border-radius: 10px;
    margin: 5px;
    background: #fff;
}