<dialog class="info">
    <button class="close fa fa-times"></button>
    <h2>상담이 완료되었습니다.</h2>
    <p>신청시간 : <span class=time></span></p>
    <div>
        <h3>상담 내용</h3>
        <p id=about></p>
        <h3>상담 후기</h3>
        <p id=comment></p>
    </div>
</dialog>
<link rel="stylesheet" href="/__source/__css/__dialog.css">
<script type="module" src="/__source/__js/__dialog.js"></script>