<%- img('1.jpeg') %>
<br>
<p><span style="font-size:14px;"><b>학습계획상담 안내</b></span></p>
<p><%- download('2017-2학기_학습계획상담안내(공문).hwp') %></p>
<br>
<p>2017학년도 가을학기 수강신청 관련하여</p>
<p>여러분의 학점, 성적, 학업스타일 등을 점검해보는 개인별 학습계획상담을 실시합니다.</p>
<br>
<p><b>▹대상: ① 우편물 수령자 ② 자원자</b></p>
<br>
<p><b>▹방법: 상담코칭센터로 8월 25일(금)까지 연락하기! (전화, 게시판 이용, 메일, 방문 등)</b></p>
<br>
<p>
<b>
<프로그램 기간 및 내용>
</b>
</p>
<br>
<p>⦁ <b>상담기간 2017년 8월 16일(수) ~ 8월 30일(수) 08:30 - 17:30</b></p>
<br>
<p>⦁ 전화/이메일 <b>신청기간 2017년 7월 24일(월) ~ 8월 25일(금) 상시</b></p>
<br>
<p>⦁ 추가 상담 : 8월 31일(목) ~ 9월 6일(수)까지 (최종 기간 엄수)</p>
<table>
<tbody>
<tr>
<th>프로그램 </th>
<th>시 간 </th>
<th>내 용 </th>
<th>장 소 </th>
</tr>
<tr>
<td>학습상담 </td>
<td>08:30 - 17:30 중, 개인별 약속된 시간 </td>
<td>상담사와 1:1 개인상담 </td>
<td>
<p>의학관 308호</p>
<p>(상담코칭센터)</p>
</td>
</tr>
</tbody>
</table>
<br>
<p><b>* 진행절차: 첨부서류 확인</b></p>
<br>
<p>⦁ <b>상담장소: 의학관 308호 상담코칭센터</b></p>
<br>
<p>⦁ <b>문의‧신청연락처: 033-741-0246</b></p>
<br>
<p>▹신청게시판: 대학 홈페이지/학생상담코칭센터/상담실게시판</p>
<p> 대학 홈페이지/학생상담코칭센터/상담심리검사 신청</p>
<br>
<p>▹신청이메일: wmcc@yonsei.ac.kr</p>
<br>
<p>연세대학교 원주의과대학 상담코칭센터</p>