<div style="text-align:center;">
<p><span><img alt="msn022.gif" class="emoticon" src="//medical.yonsei.ac.kr/we/modules/editor/components/emoticon/tpl/images/msn/msn022.gif"><span style="font-size:16px;"><b> 팀별 1:1 비공개 매칭</b></span></span></p>
<br>
<p><span style="font-size:16px;"><b><span><img alt="msn039.gif" class="emoticon" src="//medical.yonsei.ac.kr/we/modules/editor/components/emoticon/tpl/images/msn/msn039.gif"> 다양한 주제에 대하여 OPEN</span></b></span></p>
<br>
<p><span style="font-size:16px;"><b><span><img alt="msn014.gif" class="emoticon" src="//medical.yonsei.ac.kr/we/modules/editor/components/emoticon/tpl/images/msn/msn014.gif"> 문의사항 : <img alt="msn027.gif" class="emoticon" src="//medical.yonsei.ac.kr/we/modules/editor/components/emoticon/tpl/images/msn/msn027.gif"> 상담코칭센터</span></b></span></p>
<p><span>               <b>T.</b> <span style="font-size:14px;"><b>  033-741-0246</b></span></span></p>
<p><span><span style="font-size:14px;"><b>                  E.  wmcc@yonsei.ac.kr</b></span></span></p>
<br>
<br>
</div>