<!-- https://github.com/oculi-s/wmcounsel -->
<!DOCTYPE HTML>
<html lang="ko">

<head>
    <title>존재하지 않습니다.</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@latest/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/__source/__img/favicon.ico">
    <link rel="stylesheet" href="/__source/__css/login.css">
    <link rel="stylesheet" href="/__source/__css/main.css">
    <style>
        p,
        a {
            border: none !important;
        }

        .login {
            position: relative;
            margin: 50px auto;
        }
	.login>* {
	    display:block;
	    margin:auto;
	    text-align:center;
	}

        @media screen and (max-width:768px) {
            .login {
                margin-top: 100px;
            }
        }
    </style>
</head>

<body>
    <%-include(d.header)%>
    <section class="login">
        <div>
            <span>
                <p>존재하지 않는 페이지입니다.</p>
                <a href="/" class="u">돌아가기</a>
            </span>
        </div>
    </section>
    <%-include(d.footer)%>
</body>

</html>
