<p>2015학년도 가을학기 수강신청과 관련하여 </p>
<p>여러분의 학점, 성적, 학업스타일 등을 점검해보는 개인별 <b>학습계획 상담</b>을 실시합니다.</p>
<br>
<ul>
<li>대상: ① 우편물 수령자
<p>         ② 자원자</p>
</li>
</ul>
<br>
<ul>
<li>방법:  <b><span style="font-size:14px;">① 상담코칭센터로 <span style="color:rgb(255,0,0);"><u>8월 19일(수)까지 연락</u></span> (전화, 게시판 이용, 메일, 방문 등)</span></b></li>
</ul>
<p><b><span style="font-size:14px;">        ② 상담 기간: 8월 12일(수) ~ 20일(목)까지</span></b></p>
<p><b><span style="font-size:14px;">                 </span></b></p>
<p><b><span style="font-size:14px;">          * 추가 상담: 8월 25일(화) ~ 9월 3일(목)까지</span></b></p>
<p><b><span style="font-size:14px;">          (기타: 필요시 시간 조절)</span></b></p>
<br>
<ul>
<li>상담장소: 의학관 308호</li>
<li>연락처: 033-741-0246</li>
<li>게시판: 대학 홈페이지/학생상담코칭센터/상담실게시판
<p>            대학 홈페이지/학생상담코칭센터/상담심리검사 신청</p>
</li>
<li>이메일: wmcc@yonsei.ac.kr</li>
</ul>