<h3>멘티 신청 안내</h3>
<p>아래의 안내문을 참고하여 구글신청서로 신청 바랍니다.</p>
신청서링크 ⇒ <a href=https://forms.gle/pK8MSTA7cHq9Euz49>https://forms.gle/pK8MSTA7cHq9Euz49</a>
<%- img('2.jpeg') %>
<h3>멘토 신청 안내</h3>
<p>아래의 안내문을 참고하여 구글신청서로 신청 바랍니다. </p>
신청서⇒ <a href=https://forms.gle/yufBjfaSguvvnxQz5>https://forms.gle/yufBjfaSguvvnxQz5</a>
<%- img('1.jpeg') %>