<p>2018 성인지감수성 증진교육 특강에 대한 참여자 평가서와 주관식 설문내용도 함께 첨부드립니다.</p>
<br>
<p><%- download('성희롱예방교육평가서180404.pdf') %></p>
<p><%- download('성희롱예방교육평가서180404_설문 주관식.pdf') %></p>
<%- pdf('성희롱예방교육평가서180404_설문 주관식.pdf') %>
<%- pdf('성희롱예방교육평가서180404.pdf') %>