<p><b>상담·코칭센터</b>는 원주의과대학생의 <span style="font-size:14px;"><b>자기self 공작소</b></span> 입니다. <br></p>
<p>
어느덧 2학기 final을 향하는 지금, <span style="font-size:16px;"><b>"여러분의 self는 어떠십니까?"</b></span>
<%- img('3.jpeg') %>
</p>
<br>
<br>
<p><span style="font-size:16px;">여러분의 <b><span style="color:blue;">몸</span>과 <span style="color:blue;">마음 건강</span>을 위하여 <span style="color:purple;">영양 가득한 프로그램</span>을 안내</b>해드립니다.</span></p>
<br>
<p><span style="font-size:16px;"><b>1. 정신건강증진센터와 함께하는,</b></span></p>
<br>
<%- img('1.jpeg') %>
<br>
<p><span style="font-size:16px;"><b>2. 대학생활을 의미 있게 채우고 싶으면, “<span style="color:blue;">참여해줘 ^3^~</span>"</b></span> </p>
<br>
<p><b>* 학생회와 협조해서 11월 중에 <span style="font-size:16px;">톡으로 설문 받을 예정</span></b>입니다. <b>예정사항 참고만 해주세요 :)</b></p>
<p><b>* 설문 응답이 채택될 경우, 제안자에게 문화상품권이 지급될 것</b>입니다.</p>
<br>
<p>1) 수업 들으러 매일 오는 학교가 문득 좋아지게 될,</p>
<p><span style="font-size:16px;"><b>ㅇㅇㅇ가 있으면 좋을 것 같다.</b></span></p>
<br>
<p>* 예) </p>
<%- img('2.jpeg') %>
<br>
<br>
<p>2) <span style="font-size:16px;"><b>대학생을 위한 자기self 공작소의 홍보물은 뭐가 좋은가요?</b></span></p>
<p>① 팜플릿(소책자)</p>
<p>② 브로슈어(아트지)</p>
<p>③ 부착용 스티커</p>
<p>④ 기념품(볼펜, 포스트잇 등)</p>
<br>
<p>3) <span style="font-size:16px;"><b>전교생 성희롱예방교육을 위한 교육방법</b></span></p>
<p>① 평일 17:00, 루가홀 특강(성별 따로 진행)</p>
<p>② 수업 후 학년별 의무교육</p>
<br>
<p><span style="font-size:16px;"><b>3. 의학과 12학번 중에서 다면인성검사(MMPI) 2회 참여자의 개별 인터뷰, 자원자 모집</b></span></p>
<p><span style="color:blue; font-size:16px;"><b> “내가 경험한 의대생활 이야기”</b></span></p>
<br>
<div style="font-size:14px;">
<p><b>- </b>늘어가는 학습분량이 일으키는 변화(외적 요인), 학년이 올라가면서 일어나는 변화(내적 요인) 등의 <b>경험에 의미있는 특징이 있을지, 있다면 그 경험은 의대생에게 어떤 의미가 되는지 탐구해보고자 합니다.</b></p>
<br>
<p><b>- 자원자 신청 방법: 해당 대상자에게 개별 문자를 드리면, 자원자는 문자회신으로 방문시간을 예약하여 주세요^^</b></p>
<p><b>- 자원자 모집기한: ~ 12월 말까지</b></p>
<p><b>- 인터뷰 기한: ~ 12월 말까지</b></p>
<p><b>- 인터뷰 방법: 의308호(상담실)에서 약 20여분 개별 인터뷰 (의미단어 선별을 위한 녹음병행)</b></p>
<br>
<p><b>* 의의: 어떤 특징이 설명된다면 자신을 포함한 의대학생의 정체성 이해를 위한 실증적인 기초자료가 될 수 있을 것입니다.</b></p>
<p><b>* 특전: 병식 제공</b></p>
</div>
<br>
<%- img('1.png') %>