<p><span style="font-size:16px;"><span style="color:rgb(0,128,0);"><b>성 인지적 관점과 성평등 의식 함양을 위한 특강</b></span>으로 <span style="color:rgb(255,0,0);"><b>누구나 참석 가능</b></span>하고,</span></p>
<p><span style="font-size:16px;"><b>출석체크</b>가 필요하신 분들은<b> 인정</b>됩니다^^</span></p>
<br>
<p><b><span style="font-size:16px;">일시: 2016. 5. 11(수) 11:30~12:20</span></b></p>
<p><b><span style="font-size:16px;">                          17:00~18:00</span></b></p>
<p><b><span style="font-size:16px;">장소: 루가홀</span></b></p>
<p><b><span style="font-size:16px;">강사: 노정민 (고려대 양성평등센터 전문상담사)</span></b></p>