<br>
<div style="text-align:center;">
<p>
<span style="font-size:20px; color:green;"><b>봄</b></span><span style="font-size:16px; color:green;"><b>을 맞이하여</b></span>
</p>
<p>
<span style="font-size:16px;"><span style="color:green;"><b>성희롱·성폭력 예방을 위한 특강</b></span>으로 </span><span style="font-size:18px; color:red;"><b>누구나 참석 가능</b></span><span style="font-size:16px;">하고,</span>
</p>
<p>
<span style="font-size:16px;"><b>출석체크</b>가 필요하신 분들은<b> 인정</b>됩니다^^</span>
</p>
</div>
<br><br>
<div style="font-size:16px;">
<b>
<p> 일시: 2017. 4. 26(수) 11:30~12:20</p>
<p> 17:00~17:50</p>
<p> 장소: 루가홀</p>
<p> 강사: 신정미 (성희롱예방교육 전문강사)</p>
</b>
</div>