<%- download('연결고리1학기모집지원서.hwp') %>
<%- img('1.jpg') %>
<b>* 우선순위: 선착순/ 내용순</b>
<p style="font-size:14px;">
<b>단, 학년에 관계 없이도 필요시 매칭 가능하므로</b>
<span style="color:red;"><b>전체 재학생은 필요시 문의 또는 자원해주세요^^</b></span>
</p>