<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.14.6/beautify-html.min.js"></script>
<link rel="stylesheet" href="/__source/__css/prps.css">
<style>
.b-main [type="text/plain"] {display:block;}
.prev * {margin-left:unset !important;}
.b-main a {text-decoration:initial}
.prettyprint {font-weight:normal;}
.b-main table {table-layout:fixed}
</style>
<h3>1. 태그 Tag</h3>
<hr>
<h4>1) 기본 사용법</h4>
<script type="text/plain">
<태그 이름>태그 안에 들어갈 내용</태그 이름>
</script>
<h4>2) attribute (속성)</h4>
<p>Attribute = HTML 특수 태그 (이미지, 비디오 등)에 부여된 속성 (파일 위치, 높이, 너비 등)</p>
<table>
<tbody>
<tr>
<th>
<code class=prettyprint>
<script type="text/plain">
<img src="https://www.w3schools.com/html/pic_trulli.jpg">
</script>
</code>
</th>
</tr>
<tr>
<td>
<img src="https://www.w3schools.com/html/pic_trulli.jpg">
<p class=des>img 태그는 src 속성을 통해 파일의 위치를 지정합니다.</p>
</td>
</tr>
<tr>
<th>
<code class=prettyprint>
<script type="text/plain">
<a href="https://www.w3schools.com/html/pic_trulli.jpg">링크</a>
</script>
</code>
</th>
</tr>
<tr>
<td>
<a href="https://www.w3schools.com/html/pic_trulli.jpg" class=u>링크</a>
<p class=des>a (anchor) 태그는 href 속성을 통해 링크의 주소를 지정합니다.</p>
</td>
</tr>
</tbody>
</table>
<h4>3) 스타일 입히기</h4>
<p>각 태그의 style 속성을 이용하면 쉽게 스타일을 바꾸어 줄 수 있습니다.</p>
<table>
<tbody>
<tr>
<th>
<code class=prettyprint>
<script class=prettyprint type="text/plain">
<p style="font-size:13px; color:red;">13픽셀 크기의 빨간 글씨</p>
</script>
</code>
</th>
</tr>
<tr>
<td>
<p style="font-size:13px; color:red;">13픽셀 크기의 빨간 글씨</p>
</td>
</tr>
</tbody>
</table>
<h3>2. Tag의 종류</h3>
<table>
<colgroup>
<col width="10%">
<col width="10%">
<col width="30%">
<col width="*">
</colgroup>
<thead>
<tr>
<th>분류</th>
<th>이름</th>
<th>기능</th>
<th>예시</th>
</tr>
</thead>
<tbody>
<tr>
<th>특수<br>태그</th>
<th>br</th>
<td>줄바꿈<br>추가</td>
<td>
<code class=prettyprint>
<script type="text/plain">
줄바꿈<br>추가
</script>
</code>
</td>
</tr>
<tr>
<th rowspan=2>기본<br>텍스트<br>태그</th>
<th>p</th>
<td>
<p>줄 바꿈을 하면서</p>
<p>텍스트를 추가</p>
</td>
<td>
<code class=prettyprint>
<script type="text/plain">
<p>줄 바꿈을 하면서</p><p>텍스트를 추가</p>
</script>
</code>
</td>
</tr>
<tr>
<th>span</th>
<td><span>줄바꿈 없이</span> <span>텍스트를 추가</span></td>
<td>
<code class=prettyprint>
<script type="text/plain">
<span>줄바꿈 없이</span> <span>텍스트를 추가</span>
</script>
</code>
</td>
</tr>
<tr>
<th rowspan=5>텍스트<br>스타일<br>태그</th>
<th>b</th>
<td><b>굵게 (bold)</b></td>
<td>
<code class=prettyprint>
<script type="text/plain">
<b>굵게 (bold)</b>
</script>
</code>
</td>
</tr>
<tr>
<th>u</th>
<td><u>밑줄 (underline)</u></td>
<td>
<code class=prettyprint>
<script type="text/plain">
<u>밑줄 (underline)</u>
</script>
</code>
</td>
</tr>
<tr>
<th>s</th>
<td><s>취소선</s></td>
<td>
<code class=prettyprint>
<script type="text/plain">
<s>취소선</s>
</script>
</code>
</td>
</tr>
<tr></tr>
<tr></tr>
<tr>
<th rowspan=4>제목<br>태그</th>
<th>h1</th>
<td>
<h1 style="all:revert !important;">h1 (header1)</h1>
</td>
<td>
<code class=prettyprint>
<script type="text/plain">
<h1>h1 (header1)</h1>
</script>
</code>
</td>
</tr>
<tr>
<th>h2</th>
<td>
<h2 style="all:revert !important;">h2 (header2)</h2>
</td>
<td>
<code class=prettyprint>
<script type="text/plain">
<h2>h2 (header2)</h2>
</script>
</code>
</td>
</tr>
<tr>
<th>h3</th>
<td>
<h3 style="margin-left:unset;">h3 (header3)</h3>
</td>
<td>
<code class=prettyprint>
<script type="text/plain">
<h3>h3 (header3)</h3>
</script>
</code>
</td>
</tr>
<tr>
<th>h4</th>
<td>
<h4 style="margin-left:unset;">h4 (header4)</h4>
</td>
<td>
<code class=prettyprint>
<script type="text/plain">
<h4>h4 (header4)</h4>
</script>
</code>
</td>
</tr>
<tr>
<th rowspan=2>목록<br>태그</th>
<th>ol<br>li</th>
<td>
<ol>
<li>번호가 매겨지는 ol (ordered list)</li>
<li>번호가 매겨지는 ol (ordered list)</li>
</ol>
</td>
<td>
<code class=prettyprint>
<script type="text/plain">
<ol>
<li>번호가 매겨지는 ol (ordered list)</li>
<li>번호가 매겨지는 ol (ordered list)</li>
</ol>
</script>
</code>
</td>
</tr>
<tr>
<th>ul<br>li</th>
<td>
<ul>
<li>기호가 매겨지는 ul (unordered list)</li>
<li>기호가 매겨지는 ul (unordered list)</li>
</ul>
</td>
<td>
<code class=prettyprint>
<script type="text/plain">
<ul>
<li>기호가 매겨지는 ul (unordered list)</li>
<li>기호가 매겨지는 ul (unordered list)</li>
</ul>
</script>
</code>
</td>
</tr>
<tr>
<th rowspan=5>표<br>태그</th>
<th>table<br>tr<br>th<br>td</th>
<td>
<table>
<tr>
<th colspan=3>표 데이터의 header를 나타내는 th</th>
</tr>
<tr>
<td>표 데이터의 data를 나타내는 td</td>
<td>table &rarr; tr &rarr; (th, td)</td>
<td>표의 행을 나타내는 tr (row)</td>
</tr>
</table>
</td>
<td>
<code class=prettyprint>
<script type="text/plain">
<table>
<tr>
<th colspan=3>표 데이터의 header를 나타내는 th</th>
</tr>
<tr>
<td>표 데이터의 data를 나타내는 td</td>
<td>table → tr → (th, td)</td>
<td>표의 행을 나타내는 tr (row)</td>
</tr>
</table>
</script>
</code>
</td>
</tr>
<tr>
<th>rowspan<br>colspan</th>
<td>
<table>
<tr>
<th colspan=2>열 병합을 진행하는 colspan</th>
</tr>
<tr>
<th rowspan=2>행 병합을 진행하는 rowspan</th>
<td>colspan과 rowspan은 동시에 사용 가능</td>
</tr>
<tr>
<td>colspan과 rowspan은 동시에 사용 가능</td>
</tr>
</table>
</td>
<td>
<code class=prettyprint>
<script type="text/plain">
<table>
<tr>
<th colspan=2>열 병합을 진행하는 colspan</th>
</tr>
<tr>
<th rowspan=2>행 병합을 진행하는 rowspan</th>
<td>colspan과 rowspan은 동시에 사용 가능</td>
</tr>
<tr>
<td>colspan과 rowspan은 동시에 사용 가능</td>
</tr>
</table>
</script>
</code>
</td>
</tr>
</tbody>
</table>
<script>
const $$ = document.querySelectorAll.bind(document);
$$('[type="text/plain"]').forEach(e=>{e.innerText = html_beautify(e.innerText)});
</script>