<p><%- download('연결고리모집지원서.hwp') %></p>
<br>
<p><span style="font-size:16px;line-height:24px;">* 지난 번에 안내했던 </span><b style="font-size:16px;line-height:24px;">VMS 점수가 아닌, <u><span style="color:rgb(0,0,205);">자원봉사활동 인증(행정자치부 인증)</span>이 가능한</u> 멘토링프로그램</b><span style="font-size:16px;line-height:24px;">입니다.</span></p>
<p><span style="font-size:16px;line-height:24px;">(원주캠퍼스에서 운영하는 CP점수 승인이나 활동비 중에서도 선택 가능)</span></p>
<%- img('1.jpg') %>
<br>