<p>안녕하세요 원주의과대학 상담코칭센터입니다.</p>
<p>
<b>
<span style="color:green;">몸과 마음이 지친 여러분, 그리고 진로에 관한 고민으로 끙끙거리는 여러분을 위해</span> 상담코칭센터에서 자그마한 이벤트를 준비했습니다.</b>
</p>
<br>
<p>1.<span style="font-size:16px; color:blue;"><b>에니어그램 특강</b></span></p>
<p>에니어그램은 일종의 <span style="font-size:16px;"><u>성격, 적성 검사</u></span>입니다. 이 검사를 통해 자신도 모르는 나의 모습을 발견할 수 있는 재미난 기회가 됩니다!</p>
<br>
<p>2.<span style="font-size:16px; color:blue;"><b>임상교실 선배를 찾아서</b></span></p>
<p>진로 고민은 어쩌면 우리 인생의 숙명! <span style="font-size:16px;"><u>혼자서 고민하기 보단 친절한 전공 선생님과 함께</u></span> 상담을 받아보세요!</p>
<br>
<p>3.<span style="font-size:16px; color:blue;"><b>버스킹 마당</b></span></p>
<p>우리는 공부만 하는 기계?! 교양생활이 턱 없이 부족한 여러분을 <span style="font-size:16px;"><u>자유롭고 재미난 버스킹 마당에 초대합니다</u>!</span></p>
<br>
<p><b>언제? <span style="color:red;"><span style="font-size:16px;">11월 23일 목</span>요일</span></b></p>
<p><b>얼마? 단돈 0원!</b></p>
<p>오시는 모든 분께 따끈따끈한 <b><span style="font-size:16px; color:red;">피자</span> 제공!</b></p>
<br>
<p>이 모든 이벤트는 학생들을 위한, 오직 학생들만 생각하는 상담코칭센터에서 주관합니다 많은 참여 부탁드립니다. 그리고 <span style="color:green; font-size:16px;"><b>공지된 설문</b></span>은 이 행사를 진행하는데 큰 힘이 될 것입니다. 오래 걸리지 않으니 <b><span style="font-size:16px;">꼭 설문에 참여해주시길</span> 바랍니다</b> <span style="color:red;"><b>♡</b></span></p>
<br>
<%- img('1.jpeg') %>