<%- img('1.jpg') %>
<p><b style="font-size:18px;">                                 <span style="color:blue;"> * 신청</span> : 의학관 308호 상담코칭센터</b></p>
<p><span style="font-size:18px;"><b>                                 전화 : 741-0246</b></span></p>
<p><span style="font-size:18px;"><b>                                 메일 : wmcc@yonsei.ac.kr</b></span></p>
<br>