<%- img('1.jpg') %>
<br>
<br>
<p style="text-align:center;"><span style="font-size:16px;"><b>학습계획상담 안내</b></span></p>
<br>
<br>
<div style="font-size:14px;">
<p>2016학년도 가을학기 수강신청 관련하여</p>
<p><span style="color:#0000CD;">여러분의 학점, 성적, 학업스타일 등을 점검</span>해보는 개인별 학습계획상담을 실시합니다.</p>
<br>
<p>▹<b>대상</b> ① 우편물 수령자</p>
<p>          ② 자원자</p>
<br>
<p>▹<b>방법</b> ① 상담코칭센터로 8월 29일(월)까지 연락하기! (전화, 게시판 이용, 메일, 방문 등)</p>
<p>          ② 상담 기간: 8월 16일(화) ~ 23일(화)까지</p>
<br>
<p> * 추가 상담: 8월 24일(수) ~ 9월 7일(목)까지</p>
<p> (기타: 필요 시 시간 조절)</p>
<br>
<p>▹<b>장소</b> 의학관 308호 상담코칭센터</p>
<br>
<p>문의‧신청연락처: 033-741-0246</span></p>
<p>신청게시판: 대학 홈페이지/학생상담코칭센터/상담실게시판</p>
<p> 대학 홈페이지/학생상담코칭센터/상담심리검사 신청</p>
<p>신청이메일: <u>wmcc@yonsei.ac.kr</u></p>
<br>
<p>연세대학교 원주의과대학 상담코칭센터</p>
</div>
<br>
<p><%- download('학습계획상담 신청서.hwp') %></p>