<%- img('1.jpg') %>
<br>
<%- img('2.jpg') %>
<br>
<p style="font-size:14px;"><b><span style="color:red;">*오류발생 시) </span>영상시청 중 <u>문제발생은 캡쳐해서 보내주시고, 이름과 학번도 같이 보내주세요</u>! (skip여부 등 업체에서 확인함)</b></p>
<br>
<p><%- download('2018_2_성폭력예방교육안내.pdf') %></p>
<%- pdf('2018_2_성폭력예방교육안내.pdf') %>