<p><%- download('2016년 1학기 신청서.hwp') %></p>
<br>
<p><span style="font-size:16px;line-height:24px;">* 지난 번에 안내했던 </span><b style="font-size:16px;line-height:24px;">VMS 점수가 아닌, <u><span style="color:rgb(0,0,205);">자원봉사활동 인증(행정자치부 인증)</span>이 가능한</u> 봉사프로그램</b><span style="font-size:16px;line-height:24px;">입니다.</span></p>
<p><span style="font-size:16px;line-height:24px;">* </span><b style="font-size:16px;line-height:24px;">요일별 모집시간이 다르므로 확인</b><span style="font-size:16px;line-height:24px;">하시고 자원하여주세요.</span></p>
<%- img('1.jpg') %>
<br>