<% let link = `${url}/reset?uid=${encodeURIComponent(uid)}&re=${encodeURIComponent(re)}&cert=${encodeURIComponent(cert)}` %>
<section style="display:block; border:2px solid #dbdbdb; border-radius:8px; overflow:hidden;">
    <div style="border-bottom:2px solid #003876; background-color:white; padding:20px;">
        <div>
            <div style="text-align:left; background:#ffffff; padding:5px;"><img src='cid:header' height="60"></div>
        </div>
        <div>
            <div style="padding:8px;">
                <h1 style="text-align:left; margin:5px auto;">[학생상담코칭센터 비밀번호 재설정]</h1>
            </div>
        </div>
    </div>
    <div style="background-color:#ffffff; padding:20px;">
        <div style="background-color:#ffffff;">
            <div style="background-color:white; padding:8px;">
                <p>안녕하세요, 원주의과대학 학생상담코칭센터입니다.</p>
                <p>아래의 버튼을 클릭하면 재설정을 진행할 수 있습니다.</p>
            </div>
        </div>
        <div style="background-color:#ffffff;">
            <div style="text-align:center; background-color:white; padding:8px;">
                <div style="width:80px; height:40px; border:0; border-radius:20px; background:#4870a8; margin:auto;">
                    <a href="<%- link %>" style="text-decoration:none; font-weight:bold; color:#ffffff; display:inline-block; margin-top:10px;">재설정</a>
                </div>
                <br><br><br><br>
            </div>
        </div>
    </div>
    <div style="padding:20px; background-color:#4b4b4b;">
        <div>
            <div style="padding:8px; text-align:left;">
                <img src="cid:footer" style="display:inline-block; vertical-align:middle;">
                <a href="https://medical.yonsei.ac.kr/we/privacy" style="color:#ffffff; vertical-align:middle;"><b><u>개인정보처리방침</u></b></a>
            </div>
        </div>
        <div>
            <div style="padding:8px; text-align:left; color:#ffffff;">
                <span> 주소 : (26426) 강원도 원주시 일산로20 원주의과대학 학생상담코칭센터 의학관 310호</span><br>
                <span> 전화 : 033-741-0246</span><br>
                <span> 이메일 : <a href="mailto:wmcc@yonsei.ac.kr">wmcc@yonsei.ac.kr</a></span>
            </div>
        </div>
    </div>
</section>