<%- img('1.jpg') %>
<h2>< 의학과 1학년 대상 ></h2>
<p>검사기간 : 5월 8일 - 5월 19일</p>
<p>해석상담 : 5월 25일 ~ </p>
<%- img('2.jpg') %>
<h2>< 간호학과 3학년 대상 ></h2>
<p>검사기간 : 5월 15일 - 5월 26일</p>
<p>해석상담 : 6월 7일 ~ </p>
<%- img('4.jpg') %>